body {
    background-color: lightgray;
}

#calendar
{
    width:50%;
    height:50%;
} 

:root {
    --primary: #ff0000;
}

:root {
    --bs-primary: #ff0000;
}

a {
    color: #ff0000;
}

/* input page login */
:root{
    --bs-link-hover-color: white;
}
.form-control{
    background-color: #ffffff;
    border-color: black;
    margin-top: 1em;
    width: 70%;
    
}

.form-control :focus{
    background-color: #1c1cb4;
}

/* calendrier */
.fc-col-header-cell-cushion:hover {
    color: black;
}

.fc-col-header-cell-cushion {
    color: black;
}

.fc-daygrid-day-number {
    color: black
}

.fc-daygrid-day-number:hover {
    color: #ff0000
}

.fc-daygrid-day-number:active {
    color: #ff0000
}

.fc-daygrid-event-dot {
    border-color: #ff0000;
}

.btn-danger {
    background-color: #ff0000;
}


/* liste */
.equipe_list {
    list-style-type: none;
    margin-top: 2em;
}

li {
    margin-bottom: 0.3rem;
}

.btn .btn-primary {

    background-color: #fefeff;
    border-radius: 10px;
    border: 4px solid rgb(0, 0, 0);
    color: black;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    margin-bottom: 2em;

}

.centre {
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 40%;
}

html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
}

.container {
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
}
header {
    background-color: #f8f9fa;
}
.navbar {
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 2em;
    height: 65px;
    padding-top: 0;
    
}

.btn_link {
    --bs-btn-color: black;
}

/* PresenceForm */

.form_presence {
    flex: 2;
    justify-content: space-between;
}

.espace {
    margin-top: 1em;

}

/* .espace_radio{
    margin-right: 1em;
    display: block;
    width: 100%; 
} */

input[type="radio"] {
    margin-right: 1em;
}

input[type="radio"]:checked {
    color: #ff0000;
}

#evenement_title {
    background-color: white;
    border-radius: 6px;
    border-style: solid;
    border-color: black;
    padding: 0.2em;
    padding-left: 0.5em;
}

#evenement_start {
    background-color: black;
    border-radius: 6px;
    border-style: solid;
    border-color: black;
    color: white;
    padding: 0.2em;
    padding-left: 0.5em;
    width: 35%;
}

/* bouton */
.add{
    margin-bottom: 2em;
    margin-top: 1em;
}

/* footer */



.page-footer {
    height: 50px;
    background-color: #ffffff;
    margin-top: 4em;
    /* the footer's total height */
}

#footer-content {
    bottom:0;
    width:100%;
    height:60px;
}