
#calendrier
{
    width:50%;
    height:50%;
    margin: 0 auto;
    margin-top: 200px;
} 

a {
    color: #060505;
}

.fc-daygrid-day-number {
    color: black
}

.fc-daygrid-event-dot {
    border-color: #0b0b0b;
}

.btn-danger {
    background-color: #0c0c0c;
}


/* liste */
.equipe_list {
    list-style-type: none;
    margin-top: 2em;
}

li {
    margin-bottom: 0.3rem;
}
