<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}KINÉCHEZVOUS
			{% endblock %}
		</title>
		<link rel="icon" href="{{ asset('assets/images/logo_head_ico.ico') }}">
		{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
		<link rel="stylesheet" href="{{ asset('assets/styles/kcv.css') }}">
		{# {% block stylesheets %}
			{# {{ encore_entry_link_tags('calendrier') }} #}
		{# {% endblock %}

		{% block javascripts %}
			{# {{ encore_entry_script_tags('calendrier') }} #}
		{# {% endblock %} #}
	</head>
	<body>
		<nav>
			<ul>
				<li><a href="#prob">À propos</a></li>
				<li><a href="#qui">Qui sommes-nous ?</a></li>
				<li><a href="#soins">Les types de soins</a></li>
				<li><a href="#ou">Où exerçons-nous ?</a></li>
				<li><a href="#contact">Contact</a></li>
				<li><a href="#calend">Calendrier</a></li>
			</ul>
		</nav>

		{% block body %}{% endblock %}
	</body>
</html>
